* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--yellowish);
  display: grid;
  place-content: center;
}

:root {
  --yellowish: hsl(46, 90%, 64%);
  --grey: hsl(0, 0%, 50%);
}

#main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29rem;
  width: 20rem;
  background-color: white;
  border-radius: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 6px 0px rgb(0, 0, 0);
  border: black solid 1px;
}

.img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -16rem;
}

.tags {
  display: flex;
  position: absolute;
  margin-left: -11.5rem;
  background-color: var(--yellowish);
  height: 2rem;
  border-radius: 0.4rem;
}

.tags p {
  margin-top: 0.2rem;
  font-family: "figtree", sans-serif;
  font-weight: 500;
}

.card-date {
  position: absolute;
  margin-top: 5rem;
  margin-left: -7.5rem;
  margin-top: 6.5rem;
  font-family: "figtree", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.card-title {
  position: absolute;
  margin-top: 11rem;
  font-size: 19px;
  margin-left: -3.5rem;
  font-family: "figtree", sans-serif;
  font-weight: 800;
}

.card-message {
  position: absolute;
  margin-top: 18rem;
  font-size: 14px;
  font-family: "figtree", sans-serif;
  font-weight: 500;
  color: var(--grey);
  width: 19rem;
}

.pfp {
  height: 40px;
  width: 40px;
  position: absolute;
  margin-top: 25.1rem;
  margin-left: -15rem;
  border-radius: 1rem;
}

.card-author {
  position: absolute;
  margin-top: 26.4rem;
  margin-left: -5rem;
  font-family: "figtree", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.watermark {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 1rem;
}
